<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collegeandroidprograms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollegeAndroidPrograms">
        <activity
            android:name=".Prac14_3SecondActivity"
            android:exported="false" />
        <activity
            android:name=".Prac14_3GridViewExample"
            android:exported="false" />
        <activity
            android:name=".Prac31_Part1_MapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".Prac31_Part2_RoutingMapExample"
            android:exported="false" />
        <activity
            android:name=".Prac31_Part1_UserLocationExample"
            android:exported="false" />
        <activity
            android:name=".Prac28_LoginActivityWithValidation"
            android:exported="false" />
        <activity
            android:name=".Prac30EmailClientExample"
            android:exported="false" />
        <activity
            android:name=".Prac27HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Prac27LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Prac27LoginAndRegisterUsingSQLIte"
            android:exported="false" />
        <activity
            android:name=".Prac29SMSManagerExample"
            android:exported="false" />
        <activity
            android:name=".Prac26DisplayContacts"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Prac26SQLiteAsyncTaskExample"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Prac25AnimationExample"
            android:exported="false" />
        <activity
            android:name=".Prac24BluetoothAdminExample"
            android:exported="false" />
        <activity
            android:name=".Prac23_2VideoRecordingExample"
            android:exported="false" />
        <activity
            android:name=".Prac23_1CameraCaptureExample"
            android:exported="false" />
        <activity
            android:name=".Prac22_2SensorsListExample"
            android:exported="false" />
        <activity
            android:name=".Prac22_1AndroidSensorsExample"
            android:exported="false" />
        <activity
            android:name=".Prac21BroadcastReceiverExample"
            android:exported="false" />
        <activity
            android:name=".Prac20_2CustomServiceExample"
            android:exported="false" />
        <activity
            android:name=".Prac20_1WiFiServiceToggle"
            android:exported="false" />
        <activity
            android:name=".Prac19ContentProviderExample"
            android:exported="false" />
        <activity
            android:name=".Prac18_3FactorialActivity"
            android:exported="false" />
        <activity
            android:name=".Prac18_3FactorialIntentActivity"
            android:exported="false" />
        <activity
            android:name=".Prac18_2StartDialerExample"
            android:exported="false" />
        <activity
            android:name=".Prac18_1WebViewSearchIntent"
            android:exported="false" />
        <activity
            android:name=".Prac18_1WebViewNavigate"
            android:exported="false" />
        <activity
            android:name=".Prac17ActivityLifeCycle"
            android:exported="false" />
        <activity
            android:name=".MainPage2"
            android:exported="false" />
        <activity
            android:name=".Prac16_2DateViewInEditText"
            android:exported="false" />
        <activity
            android:name=".Prac16_1DateAndTimeExample"
            android:exported="false" />
        <activity
            android:name=".Prac15_2CheckBoxExample"
            android:exported="false" />
        <activity
            android:name=".Prac15_1ToastExample"
            android:exported="false" />
        <activity
            android:name=".Prac14_4ScrollViewExample"
            android:exported="false" />
        <activity
            android:name=".Prac14_2ImageViewExample"
            android:exported="false" />
        <activity
            android:name=".Prac14_1ListViewUsingArrayAdpt"
            android:exported="false" />
        <activity
            android:name=".Prac13_2HorizonatalProgressBar"
            android:exported="false" />
        <activity
            android:name=".Prac13_1CircularProgressBar"
            android:exported="false" />
        <activity
            android:name=".Prac12RadioButton"
            android:exported="false" />
        <activity
            android:name=".Prac11FiveCheckBoxes"
            android:exported="false" />
        <activity
            android:name=".Prac10_2SchoolLoginForm"
            android:exported="false" />
        <activity
            android:name=".Prac10_1SocialLoginForm"
            android:exported="false" />
        <activity
            android:name=".Prac9_2SimpleCalculator"
            android:exported="false" />
        <activity
            android:name=".Prac9_1BluetoothToggle"
            android:exported="false" />
        <activity
            android:name=".Prac8_2SixthSemSubjects"
            android:exported="false" />
        <activity
            android:name=".Prac8_1AutoCompleteTxtView"
            android:exported="false" />
        <activity
            android:name=".Prac7_2PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".Prac7_1UserLogin"
            android:exported="false" />
        <activity
            android:name=".Prac6_2FrameLayout"
            android:exported="false" />
        <activity
            android:name=".Prac6_1TableLayout"
            android:exported="false" />
        <activity
            android:name=".Prac5_2AbsoluteLayout"
            android:exported="false" />
        <activity
            android:name=".Prac5_1LinearLayout"
            android:exported="false" />
        <activity
            android:name=".Prac4_2StudentName"
            android:exported="false" />
        <activity
            android:name=".MainPage1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Prac19StudentsProvider"
            android:authorities="com.example.collegeandroidprograms.UserProvider" />

        <service android:name=".Prac20_2MyService" />

        <receiver
            android:name=".Prac21ConnectionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>